# dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# automation artifacts
reports/
videos/
screenshots/
traces/

# logs
*.log
logs/

# env
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
